[*.{cs,vb}]

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = none